*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --font-modal-default : 'Montserrat', sans-serif;
    --font-logo-alt : 'Unica One', cursive ;
}
body{
    font-size: 62.5%;
    background-image: url(/img/background1.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}


nav span{
    font-weight: normal!important;
    font-size: 1.3rem!important;
    text-transform: capitalize;
    font-family: var(--font-modal-default);
}

nav small{
    text-transform: lowercase;
}


.contenedor{
    width: 70vw;
    margin: 0 auto;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: white;
} */




main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin: 0 auto;
    background-color: #303841d2;
    border-radius: 2rem;
    /* padding: 1rem; */
    width: 350px;
}

@media screen and (min-width : 768px){
    main{
        height: 60vh;
    }
}



h2{
    color: #ffffff;
    font-family: var(--font-logo-alt);
    font-size: 1.6rem;
    font-weight: 700;
}

@media (min-width: 768px){
    h2{
        font-size: 2.5rem;
        font-weight: 700;
    }
}

main p{
    color: #eeeeee;
    font-family: var(--font-modal-default);
    margin: 2rem 0;
    font-size: small!important; 
}


.btn-main{
    background-color: #ff5722;
    color: #eeeeee;
    margin-top: 2rem;
    transition: all 0.4s ease-in-out;
}

.btn-main:hover{
    background-color: #00D0F7;
    /* transform: rotate(360deg); */
    -webkit-box-shadow: 10px 10px 125px -14px rgba(102,232,255,0.95);
    -moz-box-shadow: 10px 10px 125px -14px rgba(102,232,255,0.95);
    box-shadow: 10px 10px 125px -14px rgba(102,232,255,0.95);
    
}

/*Estilos Modal Peliculas */
.modal-dialog{
    height: 100vh!important;
}

.modal-content{
    background-color: #303841f5;
    font-family: var(--font-modal-default);
    -webkit-box-shadow: 10px 10px 125px -14px rgba(102,232,255,0.80);
    -moz-box-shadow: 10px 10px 125px -14px rgba(102,232,255,0.80);
    box-shadow: 10px 10px 125px -14px rgba(102,232,255,0.80);
    border: transparent;
}

.modal-header{
    height: 50vh!important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0.00,  rgba(0,0,0,1)),
    color-stop(0.35,  rgba(0,0,0,1)),
    color-stop(0.50,  rgba(0,0,0,1)),
    color-stop(0.65,  rgba(0,0,0,1)),
    color-stop(0.85,  rgba(0,0,0,0.6)),
    color-stop(1.00,  rgba(0,0,0,0)));
}

.close{
    color: #00fafa;
    font-size: x-large;
    transition: all 0.3s ease-in-out;
}

.close:hover{
    color: #ff9900;
    transform: scale(1.2);
}

.modal-body{
    color: #eeeeee;
}

#titulo-original{
     font-size: small;
     font-weight: 200;
     font-style: italic;
}

.badge{
    font-size: 0.7rem;
    background-color: rgba(102,232,255,0.80);
    color: #000000;
    margin-right: 0.3rem;
    margin-top: 0.3rem;
}
.sinopsis{
    line-height: 1.2rem;
    font-size: .7rem;
}

.leer-mas{
    background-color: transparent;
    border: transparent;
    color: #00D0F7;
    transition: all 0.2s ease-in-out;
}

.leer-mas:hover{
    color: #6be6ff;
}




.modal-footer{
    border-color: transparent;
   
}


/*Botones Like Dislike*/
.likes{
    padding: 0;
    margin-bottom: 1rem;
}

.likes button {
    color: #eeeeee;
    transition: all 0.3s ease-in-out;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    border-color: none;
}

#btn-like{
    background-color: #02aa8e;  
}

#btn-like:hover{
    background-color: #04977f;
    transform: scale(1.1);
    color: #eeeeee;
}

#btn-dislike{
    background-color: #fd613e;
}

#btn-dislike:hover{
    background-color: #d15235;
    color: #eeeeee;
    transform: scale(1.1);
}

/*--------Fin Estilos Modal Peliculas---------------*/

/*Modal Login*/
.modal-form{
    height: 500px;
}

.modal-form .modal-header{
    height: 40px!important;
    padding: 0;
    border-bottom: transparent;
}


.modal-form .close{
    padding: 1em 1em 0 0;
}

.modal-form .modal-body{
    margin: 0;
    padding-top: 0;
    font-size:medium;
}

.modal-form h3{
    padding-bottom: 0.5em;
}

.modal-form input{
    color: #00EDC2!important;
}

.modal-form input:focus, .modal-form input:-webkit-autofill,
.modal-form input:-webkit-autofill:hover, 
.modal-form input:-webkit-autofill:focus{
    border-color: #00D0F7;
    outline: 0 none;
    color: aqua;
    -webkit-text-fill-color: aqua;
    -webkit-box-shadow: 0 0 0px 1000px #303841 inset, 0 0 8px #00D0F7;
    /* transition: all 5000ms ease-in-out ; */
}


.modal-form .modal-body button{
    margin-top: 0.8rem;
}

.modal-form .modal-body .btn-registro{
    background-color: transparent;
    border: 0.5px solid;
    border-color: #00D0F7
    
}

.modal-form .modal-body .btn-registro:hover{
    color: #00EDC2;
}
