*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --font-modal-default : 'Montserrat', sans-serif;
}
html{
    height: 100vh;
}
body{
    font-size: 62.5%;
    background-image: url(/img/background1.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.contenedor{
    width: 70vw;
    margin: 0 auto;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin: 0 auto;
    background-color: #303841d2;
    border-radius: 2rem;
    padding: 1rem;
    width: 350px;
}

/* @media screen and (min-width : 768px){
    main{
        
    }
} */

main p{
    color: #eeeeee;
    font-family: var(--font-modal-default);
}


.btn-login{
    background-color: #ff5722;
    color: #eeeeee;
    margin-top: 2rem;
    transition: all 0.4s ease-in-out;
}

.btn-login:hover{
    background-color: #00D0F7;
    /* transform: rotate(360deg); */
    -webkit-box-shadow: 10px 10px 125px -14px rgba(102,232,255,0.95);
    -moz-box-shadow: 10px 10px 125px -14px rgba(102,232,255,0.95);
    box-shadow: 10px 10px 125px -14px rgba(102,232,255,0.95);
    
}

/*Estilos Modal Pop Up*/
.modal-dialog{
    height: 100vh!important;
}


.modal-content{
    background-color: #303841f5;
    font-family: var(--font-modal-default);
}

.modal-header{
    height: 50vh!important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0.00,  rgba(0,0,0,1)),
    color-stop(0.35,  rgba(0,0,0,1)),
    color-stop(0.50,  rgba(0,0,0,1)),
    color-stop(0.65,  rgba(0,0,0,1)),
    color-stop(0.85,  rgba(0,0,0,0.6)),
    color-stop(1.00,  rgba(0,0,0,0)));
}

.close{
    color: #00fafa;
    font-size: x-large;
    transition: all 0.3s ease-in-out;
}

.close:hover{
    color: #ff9900;
    transform: scale(1.2);
}

.modal-body{
    color: #eeeeee;
}

.sinopsis{
    line-height: 1.2rem;
    font-size: .7rem;
}




.modal-footer{
    border-color: transparent;
   
}


/*Botones Like Dislike*/
.likes{
    padding: 0;
    margin-bottom: 1rem;
}

.likes button {
    color: #eeeeee;
    transition: all 0.3s ease-in-out;
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    border-color: none;
}

#btn-like{
    background-color: #02aa8e;  
}

#btn-like:hover{
    background-color: #04977f;
    transform: scale(1.1);
    color: #eeeeee;
}

#btn-dislike{
    background-color: #fd613e;
}

#btn-dislike:hover{
    background-color: #b6462d;
    color: #eeeeee;
    transform: scale(1.1);
}
